# Python
__pycache__/
*.pyc
*.pyo

# Conda / env
.env
venv/
yt_env/
.conda/

# Data artifacts
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
.history/
yt_trending.db
models/
