# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Environments
# =====================
.env
.venv/
conda/
.conda/

# =====================
# Data
# =====================
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# =====================
# ML Artifacts
# =====================
models/
*.joblib

# =====================
# Databases
# =====================
*.db
*.sqlite3

# =====================
# Notebooks
# =====================
.ipynb_checkpoints/

# =====================
# OS / Editors
# =====================
.DS_Store
.history/

# =====================
# Docker
# =====================
docker/.env
